*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

html {
  //this defines what 1 rem is equal to
  font-size: 62.5%; // 1 rem = 10px

  // @include respond(tab-land){
  //     font-size: 56.25%; // 1 rem = 9px [<= 1200 width]
  // }

  // @include respond(tab-port){
  //     font-size: 50%; // 1 rem = 8px [<= 900 width]
  // }

  // @include respond(big-desktop){
  //     font-size: 75%; // 1 rem = 12px
  // }
}

body {
  box-sizing: border-box;
}
