@import "../../sass/main.scss";

.showcase-yx1 {
  display: flex;
  justify-content: space-between;
  margin-top: 6rem;
  width: 100%;
  @include respond(phone) {
    flex-direction: column;
  }

  & > &__showcase-position {
    width: 50%;
    background: #f1f1f1;
    border-radius: 0.8rem;
    @include respond(phone) {
      width: 100%;
      height: 25rem;
    }

    & > .description {
      padding: 9rem 0 9rem 7rem;
      @include respond(phone) {
        margin: 0 auto;
        width: fit-content;
        height: fit-content;
        padding: 4rem 4rem;
      }

      @include respond(tab-port) {
        padding: 8rem 4rem;
        width: revert;
      }

      & > .description__product-title {
        color: #000000;
        font-size: 3.5rem;
        line-height: 4.75rem;
        letter-spacing: 0.25rem;
      }

      & > .descriptionButton {
        width: 20rem;
        font-size: 1.625rem;
        line-height: 2.25rem;
      }

      & > .description__description-text {
        display: none;
      }
    }
  }
}
