@import "../../sass/main.scss";

.gallery {
  display: flex;
  justify-content: space-between;
  margin: 10rem 0;
  & > img {
    border-radius: 8px;
    width: 57%;
    @include respond(phone) {
      width: revert;
    }
  }

  @include respond(phone) {
    flex-direction: column;
  }

  & > &__sub-gallery {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & > img {
      border-radius: 8px;
      &:not(:last-child) {
        margin-bottom: 3rem;
      }
      @include respond(phone) {
        margin-bottom: 3rem;
      }
    }

    @include respond(phone) {
      width: revert;
    }
  }
}
