@import "../../sass/main.scss";

.product {
  display: flex;
  justify-content: center;
  margin-bottom: 10rem;

  & > &__product-image {
    width: 52rem;
    height: 53rem;
    border-radius: 8px;

    @include respond-between(tab-port, tab-landscape) {
      height: 55rem;
      width: 40%;
      padding: 0;
    }
    @include respond-down(phone) {
      width: 100%;
      height: 100%;
    }
  }

  @include respond-between(phone, tab-landscape) {
    width: 100%;
    justify-content: space-between;
  }
  @include respond-down(tab-landscape) {
    margin-bottom: 8rem;
  }
  @include respond-down(phone) {
    flex-direction: column;
  }

  & > &__description-container {
    margin-left: 13rem;
    align-self: center;
    width: 51%;

    & > .description {
      color: #000000;

      & > .description__new-product {
        color: #d87d4a;
        opacity: revert;
        @include respond-down(phone) {
          width: max-content;
        }
      }
      & > .description__product-title {
        font-size: 4rem;
        width: 37.5rem;
        @include respond-down(tab-landscape) {
          font-size: 3.5rem;
          line-height: revert;
          width: min-content;
        }
        @include respond-down(phone) {
          width: fit-content;
        }
      }
      & > .description__description-text {
        opacity: 0.5;
        width: 42.9rem;

        @include respond-between(tab-port, tab-landscape) {
          text-align: justify;
          margin: 1rem 0;
          width: 100%;
        }

        @include respond-down(phone) {
          width: 100%;
        }
      }

      & > .descriptionButton {
        @include respond-down(tab-landscape) {
          margin: 1rem auto;
        }
        @include respond-down(phone) {
          width: 14rem;
        }
      }
    }

    @include respond-down(tab-landscape) {
      margin: 5rem 0 5rem 0;
      justify-content: space-evenly;
    }
    @include respond-down(tab-port) {
      margin: 5rem 0 3rem 5rem;
      justify-content: space-evenly;
    }
    @include respond-down(phone) {
      margin: 5rem 0 0 0;
      align-self: revert;
      width: 100%;
    }
  }
}
